{% for review in reviews %}
<div class="ms-3 flex-shrink-1">
    <h6 class="mb-0 text-uppercase">{{ review.author.username }}</h6>
    <p class="small text-muted mb-0 text-uppercase">{{ review.created_at }}</p>
    <ul class="list-inline mb-1 text-xs">
        <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
        <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
        <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
        <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
        <li class="list-inline-item m-0"><i class="fas fa-star-half-alt text-warning"></i></li>
    </ul>
    <p class="text-sm mb-0 text-muted">{{ review.text }}</p>
</div>
{% endfor %}