{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block header_text %}
{% endblock header_text %}

{% block header_poster %}
{% endblock header_poster %}

{% block main %}

<main>
    <div class="container d-flex justify-content-around">
        <div class="login">
            <h2 class="form-title">Войти в аккаунт</h2>
        </div>
        <div class="registration">
            <h2 class="form-title">Создать аккаунт</h2>
        </div>
    </div>
</main>

{% endblock main %}